<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('mailers.pay_mailer.pay_notification.hello') %>, <b><%= @user.email %></b></h1>
    <p>
      <%= t('mailers.pay_mailer.pay_notification.pay_message') %> <%= @claim.amount %> <%= @claim.currency %>.<br>
    </p>
    <p><%= t('mailers.pay_mailer.pay_notification.luck') %></p>
  </body>
</html>