<div class='container-profile'>
  <div class='profile-head row justify-content-center'>
    <div class='avatar-cnt'>
      <% if @profile.avatar.attached? %>
        <%= image_tag @profile.avatar, class: 'rounded-circle avatar' %>
      <% else %>
        <%= image_tag '/avatar/avatar.png', class:'rounded-circle avatar'  %>
      <% end %>
    </div>
    <div class='main-info gr-cl'>
      <h1 class='main-nm'><%= @profile.user.email %></h1>
      <h6 class='us-ph-info wh-cl'><%= t('profile.show.phone')%>  <%= @profile.phone_number %></h6>
      <h6 class='us-ad-info wh-cl'><%= t('profile.show.address')%>  <%= @profile.address %></h6>
    </div>
    
    <div class='card-info col'>
      <% if policy(@profile).belongs_to_user? %>
        <%= link_to 'Credit Cards' ,cards_path, class: 'nav-log-btn'%>
      <% end %>
    </div>
    <div class='claims-info col col-3'>
      <div class='row justify-content-md-start'>
      <h5 class='wh-cl success'><%= t('profile.show.success_credit_projects') %> <span class='gr-cl'><%= @profile.success_credit_project %></span></p>
      </div>
      <div class='row justify-content-md-start'>
      <h5 class='wh-cl success'><%= t('profile.show.success_lend_projects')%> <span class='gr-cl'><%= @profile.success_lend_project %></span></p>
      </div>
    </div>
  </div>
  <div class='profile-body'>
    <% if policy(@profile).belongs_to_user? %>
      <div class='btn btn-cl'>
        <%= link_to t('profile.show.new_claim_link'), new_claim_path, class: 'btn-new-claim' %>
      </div>
    <% end %>
    <% unless @profile.claims.nil? %>
      <div class='cl-prof'>
        <div class='row'>
          <%= render partial: 'claims/claims', collection: @profile.claims, as: :claim %>
        </div>
      </div>
    <% end %>
  </div>
</div>