<div class='container-profile'>
  <div class='profile-head'>
    <ul class="list-group list-group-horizontal nodots">
      <li>
        <div class='avatar-cnt'>
          <img src="" class='rounded-circle avatar'>
        </div>
      </li>
      <li>
        <div class='main-info'>
          <h1 class='main-nm'><%= @profile.user.email %></h1>
          <h5 class='us-info'>Phone: <%= @profile.phone_number %></h5>
          <h5>Address: <%= @profile.address %></h5>
        </div>
      </li>
      <li>
        <div class='card-info'>
          
        </div>
      </li>
      <li>
        <div class='claims-info'>
          <p>Success credit project: <%= @profile.success_credit_project %></p>
          <p>Success lend project: <%= @profile.success_lend_project %></p>
        </div>
      </li>
    </ul>
  </div>
  <div class='profile-body'>
    
  </div>
</div>