<div class='container-login'>
  <div class="card login-card">
    <div class='card-body'>
      <div class='card-title'>
        <h1 class='login-title'>Sign up</h1>        
      </div>
      <div class='login-card'>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email, class: 'label-login' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'field-login' %>
          </div>

          <%= fields_for :profile do |profile_f| %>

            <div class="field">
              <%= profile_f.label :phone_number, class: 'label-login' %><br />
              <%= profile_f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: 'Phone Number', class: 'field-login' %>
            </div>

            <div class="field">
              <%= profile_f.label :address, class: 'label-login' %><br />
              <%= profile_f.text_area :address, rows: 3, autofocus: true, autocomplete: "address", placeholder: 'Address', class: 'field-login area' %>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :password, class: 'label-login' %>
            <% if @minimum_password_length %>
            <em class='label-login'>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'field-login' %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: 'label-login' %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm password', class: 'field-login' %>
          </div>

          <div class="actions submit-btn">
            <%= f.submit "Sign up", class: 'btn log-btn btn-lg btn-login' %>
          </div>
        <% end %>
      </div>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<% if devise_mapping.omniauthable? %>
  <div class='third-party'>
    <div class='card login-card'>
      <div class='card-body'>
        <div class='card-title'>
          <h1 class='login-title-thd'>Sign In with</h1>        
        </div>
        <div>
          <ul class='list-group list-group-horizontal nodots'>
            <% resource_class.omniauth_providers.each do |provider| %>
              <li class='thd-li'>
                <%= link_to image_tag("/third_party_service/#{provider}.png", class: 'img-thd'), omniauth_authorize_path(resource_name, provider) %><br>
                <%= link_to "#{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: 'thd-lnk' %><br />
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div> 
<% end %>