<% unless comment.parent_id %>
  <li>
    <p>
      <% if comment.user.profile.avatar.attached? %>
        <%= image_tag @profile.avatar, class: 'rounded-circle com-ava' %>
      <% else %>
        <%= image_tag '/avatar/avatar.png', class:'rounded-circle com-ava'  %>
      <% end %>
      <span class='com-user'><%= comment.user.email %></span>
    </p>
    <p class='text-com'><%= comment.text %></p>
    <% if comment.replies %>
      <div class='replies'>
        <ul class='list-com'>
          <%= render partial: 'comments/reply', collection: comment.replies, as: :comment %>
        </ul>
      </div>
    <% end %>
  </li>
<% end %>