<li>
  <p>
    <%= comment_user_avatar(comment) %>
    <span class='com-user'><%= comment.user.email %></span>
  </p>

  <p class='text-com'><%= comment.text %></p>
  <% if policy(comment).destroy? %>
    <%= link_to 'Delete', [commentable, comment], method: :delete, class: 'del-com-lnk' %>
  <% end %>
  <% if comment.childs %>
    <div class='replies'>
      <ul class='list-com'>
        <%= render partial: 'comments/reply', collection: comment.childs, as: :comment %>
      </ul>
    </div>
  <% end %>
</li>