<div id='reply_from'>
  <%= form_for [@commentable, Comment.new] do |f| %>
    <%= f.hidden_field :parent_id, value: params[:parent_id] %>
    <div class='row'>
      <div class='col-10'> 
        <div class='field'>
          <%= f.text_field :text, autofocus: true, placeholder: t('comment.new.placeholder'), class: 'field-reply' %>
        </div>
      </div>
      <div class='col-2'>
        <div class="actions sub-com">
          <%= f.submit t('comment.reply_link'), class: 'btn btn-dark' %>
        </div>
        <div id='closee'>
          <%= link_to t('global.back'), :back %>
        </div>
      </div>
    </div>
  <% end %>
</div>
