<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.email %></h1>
    <p>
      New participant <b><%= @participant.user.email %></b> agreed to participate in your claim "Credit on <%= @claim.amount%> <%= @claim.currency%>".<br>
      He is ready to give you <b><%= @participant.money %> <%= @claim.currency%></b>.<br>
    </p>
    <p>Glad to see you on P2P!</p>
  </body>
</html>