<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('mailers.new_participant_mailer.notification.hello') %>, <%= @user.email %></h1>
    <p>
      <%= t('mailers.new_participant_mailer.notification.new_participant') %> <b><%= @participant.user.email %></b> <%= t('mailers.new_participant_mailer.notification.new_participant_continue') %> <%= @claim.amount%> <%= @claim.currency%>".<br>
      <%= t('mailers.new_participant_mailer.notification.given_money') %> <b><%= @participant.money %> <%= @claim.currency%></b>.<br>
    </p>
    <p><%= t('mailers.new_participant_mailer.notification.glad') %></p>
  </body>
</html>