<%= form_with(url: claims_path(tag: tag), method: :get, local: true, id: 'sort') do |f| %>
  <%= hidden_field_tag :tag, tag %>
  <div class='row'>
    <div class='without-padding col-4'>
      <%= f.select :sort, options_for_select({
                                              '' => '',
                                              t('claim.sort.amount') => 'amount',
                                              t('claim.sort.currency') => 'currency',
                                              t('claim.sort.date') => 'created_at'
                                              }, params[:sort]),
                   { selected: params[:sort]},
                   { class: 'custom-select opt-sel' } %>
    </div>
    <div class='col-3 without-padding'>
      <%= f.select :direction, options_for_select({
                                                    t('claim.sort.asc_direction') => 'asc',
                                                    t('claim.sort.desc_direction') => 'desc'
                                                   }, params[:direction]), {},
                   { class: 'custom-select dir-sel'}%>
    </div>
    <div class='col-2 without-padding'>
      <%= f.submit t('claim.sort.submit'), class: 'btn btn-dark' %>
    </div>  
  </div>
<% end %>