<%= form_with(url: claims_path(tag: tag), method: :get, local: true, id: 'sort') do |f| %>
  <%= hidden_field_tag :tag, tag %>
  <div class='row'>
    <div class='without-padding col-4'>
      <%= f.select :sort, options_for_select({
                                              '' => '',
                                              'Amount' => 'amount',
                                              'Currency' => 'currency',
                                              'Date' => 'crated_at'
                                              }, params[:sort]),
                   { selected: params[:sort]},
                   { class: 'custom-select opt-sel' } %>
    </div>
    <div class='col-3 without-padding'>
      <%= f.select :direction, options_for_select({
                                                    'A-Z0-9' => 'asc',
                                                    'Z-A9-0' => 'desc'
                                                   }, params[:direction]), {},
                   { class: 'custom-select dir-sel'}%>
    </div>
    <div class='col-2 without-padding'>
      <%= f.submit 'Sort', class: 'btn btn-dark' %>
    </div>  
  </div>
<% end %>