<div class='index-claim-container'>

    <div class='row justify-content-md-start'>
      <div class='sort'>
        <div class='input-group'>
          <div class="col-2 without-padding-right input-group-prepend label">
            <label class="input-group-text sort-label"><%= t('claim.sort.title')%></label>
          </div>
          <div class='col-6'>
            
            <%= form_with(url: claims_path, method: :get, local: true, id: 'sort') do |f| %>
            <div class='row'>
              <div class='without-padding col-6'>
                <%= f.select :sort, raw("
                                          <option value=''></option>
                                          <option value='amount'>#{t('claim.sort.amount')}</option>
                                          <option value='currency'>#{t('claim.sort.currency')}</option>
                                          <option value='created_at'>#{t('claim.sort.date')}</option>
                                        "), {},
                             { class: 'custom-select opt-sel' } %>
</div>
<div class='col-3 without-padding'>
                <%= f.select :direction, raw("
                                              <option value='asc'>#{t('claim.sort.asc_direction')}</option>
                                              <option value='desc'>#{t('claim.sort.desc_direction')}</option>
                                             "), {},
                             { class: 'custom-select dir-sel'}%>
</div>
<div class='col-2 without-padding'>
              <%= f.submit t('claim.sort.submit'), class: 'btn btn-dark' %>
</div>  
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <div class='row'>
      <%= render partial: 'claims', collection: @claims, as: :claim %>
  </div>
</div>