<div class='container-login-cl'>
  <div class="cl-card">
    <div class='cl-body'>
      <div class='card-title'>
        <h1 class='login-title'><%= t('claim.new.title')%></h1>        
      </div>
      <div class='login-card-cl'>
        <%= form_for(@claim, url: claims_path) do |f| %>
          <%= render 'shared/flash' %>

          <div class="field">
            <%= f.label :amount, class: 'label-login' %><br />
            <%= f.text_field :amount, autofocus: true, autocomplete: "amount", placeholder: t('claim.new.placeholder.amount'), class: 'field-login-cl' %>
          </div>

          <div class='row'>
            <div class="field col-5">
              <%= f.label :currency, class: 'label-login' %><br />
              <%= f.select :currency, @currencies, size: 10, autofocus: true, class: 'field-login-cl' %>
            </div>

            <div class="field col-5">
              <%= f.label :interest_rate, class: 'label-login' %><br />
              <%= f.select :interest_rate,  @rates, size: 3, autofocus: true, class: 'field-login-cl' %>
            </div>
          </div>

          <div class='row'>
            <div class="field col-5">
              <%= f.label :repayment_period, class: 'label-login' %><br />
              <%= f.select :repayment_period, enum_options_for_select(Claim, :repayment_period), size: 8, autofocus: true, class: 'field-login-cl' %>
            </div>

            <div class="field col-5">
              <%= f.label :payment_frequency, class: 'label-login' %><br />
              <%= f.select :payment_frequency, enum_options_for_select(Claim, :payment_frequency), size: 8, autofocus: true, class: 'field-login-cl' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :goal, class: 'label-login' %><br />
            <%= f.text_area :goal, row: 5, autofocus: true, placeholder: t('claim.new.placeholder.goal'), class: 'field-login-cl area' %>
          </div>

          
          <div class='field'>
            <div class='row justify-content-center'>
              <% @statuses.each do |status| %>
                <div class='col-5'>
                  <span class='label-login'><%= status %></span>
                  <br>
                  <%= f.radio_button :status, status %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="actions submit-btn">
            <%= f.submit t('global.create'), class: 'btn log-btn btn-lg btn-login' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>