<div class='row'>
  <div class='col-6'>
    <div class='container-claim-show'>
      <div class='card'>
        <div class='cl-card-body'>
          <div class='card-title'>
            <h1 class='login-title'>
              Credit on <%= @claim.amount %> <%= @claim.currency %>
            </h1>
            <h4>
              <%= @claim.user.email %>
            </h4>
          </div>
          <div class='claim-info'>
            <div class='goal-info'>
              <p>
                <%= @claim.goal %>
              </p>
            </div>
            <div class='other-info'>
              <p>
                Interest rate: <%= @claim.interest_rate %> 
              </p>
              <p>
                Payment frequenct: <%= @claim.payment_frequency %>
              </p>
              <p>
                Repaiment period: <%= @claim.repaiment_period %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='col-4'>
    
  </div>
</div>