<div class='row bd-show'>
  <div class='col-6'>
    <div class='container-claim-show'>
      <div class='card-cl-show'>
        <div class='cl-card-body'>
          <div class='card-title'>
            <div class='row justify-content-md-center'>
              <h1 class='login-title sh'>
                <%= t('claim.title')%> <%= @claim.amount %> <%= @claim.currency %>
              </h1>
            </div>
          </div>
          <div class='card-sub-title'>
            <div class='row justify-content-md-end'>
              <h4 class='claim-user'>
                <%= @claim.user.email %>
              </h4>
            </div>
          </div>

          <hr class='solid'>
          
          <div class='claim-info'>
            <div class='row'>
              <div class='col-7'>
                <div class='goal-info'>
                  <p class='txt-godl-info'>
                    <%= @claim.goal %>
                  </p>
                </div>
                <% if @claim.tags.present? %>
                  <%= render partial: 'tags/show_tags', locals: {claim: @claim} %>
                <% end %>
              </div>
              <div class='col-4'>
                <div class='other-info'>
                  <p class='txt-other-info'>
                    <%= t('claim.show.interest_rate')%> <span class='info'><%= @claim.interest_rate %></span>
                  </p>
                  <hr class='solid'>
                  <p class='txt-other-info'>
                    <%= t('claim.show.payment_frequency')%> <span class='info'><br><%= enum_locale(Claim, :payment_frequency, @claim.payment_frequency) %></span>
                  </p>
                  <hr class='solid'>
                  <p class='txt-other-info'>
                    <%= t('claim.show.repayment_period') %> <span class='info'><br><%= enum_locale(Claim, :repayment_period, @claim.repayment_period) %></span>
                  </p>
                </div>
                <% if policy(@claim).destroy? %>
                  <div class='row justify-content-md-end'>
                    <div class='del-but'>
                      <button type='button' class='btn btn-outline-danger'>
                        <%= link_to t('global.delete'), claim_path, method: :delete, class: 'nav-unlog-btn' %>
                      </button>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

            <% if policy(@claim.tags).create? %>
              <div class='row justify-content-md-start'>
                <button type='button' class='btn btn-outline-success'>
                  <a id='link-tag' href='#' class='nav-log-btn'><%= t('claim.show.add_tag') %></a> 
                </button>

                <button type='button' class='btn btn-outline-danger rem-but'>
                  <a id='remove-tag' href='#' class='nav-unlog-btn'><%= t('claim.show.remove_tag') %></a> 
                </button>
              </div>


                <div class='edit-tag-form' id='edit-tag-form'>
                  <%= render template: 'tags/new', locals: { taggable: @claim } %>
                </div>

                <div class='remove-tag-form' id='remove-tag-form'>
                  <p>
                    <%= render partial: 'taggings/remove_tag', collection: @claim.taggings, as: :tagging, locals: {taggable: @claim}  %>
                  </p>
                  <a href="" id='close-rem' class='close-tag close-rem'>Close</a>
                </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>

    <div class='comments'>
      <div class="comment-title">
        <h1 class='title-com'><%= t('claim.show.comments')%></h1>
      </div>
      <% if policy(@claim.comments).new? %>
        <%= render partial: 'comments/new', locals: {commentable: @claim } %>
      <% end %>
    </div>
    <div class='all-comments' id='all-comments'>
      <ul class='list-com'>
        <%= render partial: 'comments/comment', collection: @claim.comments.top_level_comment, as: :comment, locals: {commentable: @claim, nesting: 1} %>
      </ul>
    </div>

  </div>

  <% if policy(@claim).can_see_participants? %>
    <div class='col-4 part'>
      <div class='container-participants'>
        <div class='card-participants-show'>
          <div class='card-body-paticipants'>

            <div class='card-title-paticipants'>
              <div class='row justify-content-md-center'>
                <h1 class='part-title'>
                  <%= t('claim.show.participant.title') %>
                </h1>
              </div>
            </div>

            <% if @claim.loan_participants.present? %>
              <div class='participants-list'>
                <%= render partial: 'loan_participants/participant', collection: @claim.loan_participants, as: :participant %>
              </div>
            <% end %>

            <% if policy(@claim).doesnt_belong_to_user? && not_collected_amount_of_money? && policy(@claim).not_already_participant? %>
              <div class='become-part'>
                <div class='row justify-content-md-center'>
                  <button type='button' class='btn btn-outline-success'>
                    <a href="" id='participant-new' class='nav-log-btn'><%= t('claim.show.participant.become') %></a>
                  </button>
                  <%= render 'shared/flash' %>
                  <div class='part-form' id='part-form'>
                    <%= render template: 'loan_participants/new', locals: {claim: @claim} %>
                  </div>
                </div>
              </div>
            <% end %>

            <% if policy(@claim).confirm? && collected_amount? %>
              <div class='become-part'>
                <div class='row justify-content-md-center'>
                  <button type='button' class='btn btn-outline-success'>
                    <%= link_to t('claim.show.participant.confirm'), confirm_claim_path(@claim.id), method: :patch, class: 'nav-log-btn' %>
                  </button>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
