<div class='row bd-show'>
  <div class='col-6'>
    <div class='container-claim-show'>
      <div class='card-cl-show'>
        <div class='cl-card-body'>
          <div class='card-title'>
            <div class='row justify-content-md-center'>
              <h1 class='login-title sh'>
                Credit on <%= @claim.amount %> <%= @claim.currency %>
              </h1>
            </div>
          </div>
          <div class='card-sub-title'>
            <div class='row justify-content-md-end'>
              <h4 class='claim-user'>
                <%= @claim.user.email %>
              </h4>
            </div>
          </div>

          <hr class='solid'>
          
          <div class='claim-info'>
            <div class='row'>
              <div class='col-7'>
                <div class='goal-info'>
                  <p class='txt-godl-info'>
                    <%= @claim.goal %>
                  </p>
                </div>
              </div>
              <div class='col-4'>
                <div class='other-info'>
                  <p class='txt-other-info'>
                    Interest rate: <span class='info'><%= @claim.interest_rate %></span>
                  </p>
                  <hr class='solid'>
                  <p class='txt-other-info'>
                    Payment frequency: <span class='info'><%= @claim.payment_frequency %></span>
                  </p>
                  <hr class='solid'>
                  <p class='txt-other-info'>
                    Repayment period: <span class='info'><%= @claim.repayment_period %></span>
                  </p>
                </div>
                <% if policy(@claim).destroy? %>
                  <div class='row justify-content-md-end'>
                    <div class='del-but'>
                      <button type='button' class='btn btn-outline-danger'>
                        <%= link_to 'Delete', claim_path, method: :delete, class: 'nav-unlog-btn' %>
                      </button>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='col-4 part'>
    <div class='container-participants'>
      <div class='card-participants-show'>
        <div class='card-body-paticipants'>

          <div class='card-title-paticipants'>
            <div class='row justify-content-md-center'>
              <h1 class='part-title'>
                Participants
              </h1>
            </div>
          </div>

          <% if @claim.loan_participants.present? %>
            <div class='participants-list'>
              <%= render partial: 'loan_participants/participant', collection: @claim.loan_participants, as: :participant %>
            </div>
          <% end %>

          <div class='become-part'>
            <div class='row justify-content-md-center'>
              <button type='button' class='btn btn-outline-success'>
                <a href="" id='participant-new' class='nav-log-btn'>Become a Participant</a>
              </button>
              <div class='part-form' id='part-form'>
                <%= render template: 'loan_participants/new', locals: {claim: @claim} %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>