<div class='participant-info'>
  <hr class='solid'>
  <div class='participant-main-info'>
    <div class='row '>
      <p class='part-name'>
        <span><%= participant.user.profile.success_credit_project %>/<%= participant.user.profile.success_lend_project%></span>
        <span><%= image_tag loan_participant_avatar(participant), class: 'rounded-circle rounded-loan-ava' %></span>
        <span><%= participant.user.email %></span>
      </p>
    </div>
  </div>
  <div class='sum-info'>
    <p>
      <span class='text-gr'>Amount of money:</span> <span class='part-sum'><%= participant.money %> <%= participant.claim.currency %></span>
    </p>
  </div>
</div>