<%= form_for LoanParticipant.new do |f| %>
  <div class='row'>
    <%= f.hidden_field :claim_id, value: claim[:id] %>
    <%= f.text_field :money, class: 'part-field', id: 'money-field' %>
    <p class='' id='income'></p>
    <button type="button" class="btn btn-outline-success" disabled>
      <span class='cur-info'><%= claim[:currency]%></span>
    </button>
    <%= f.submit t('loan_participant.new.confirm'), class: 'btn btn-success' %>
  </div>
  <a href="" id='participant-not' class='close-part'>Close</a>
<% end %>